<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaurav Fitness</title>
</head>
<link rel="icon" href="https://img.icons8.com/ios/50/000000/gum-.png">
<link rel=stylesheet href="https://fonts.google.com/download?family=Merriweather%20Sans">
<link rel=stylesheet href="stylesheet.css">
<link rel="stylesheet" href="style.css">

</style>

<body>

    <!-- include header -->
    <%- include('include/_header') %>
        <!-- /include header -->

        <div class="cal">
            <div class="yz-widget" data-calculator-type="bmi" data-language="en" data-unit-system="metric"
                data-background-color="#EEEEEE" data-text-color="#212121" data-primary-color="#03A9F4"
                data-alternate-background-color="#FFFFFF" data-alternate-text-color="#FFFFFF"
                data-secondary-color="#FFC107"><span class="yz-copyright">Powered by <a
                        href="https://www.yazio.com/en/bmi-calculator">YAZIO</a></span></div>
        </div>
</body>

<script src="https://widget.yazio.com/calculator.js" async></script>

</html>