<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaurav Fitness</title>
</head>
<link rel="icon" href="https://img.icons8.com/ios/50/000000/gum-.png">
<link rel=stylesheet href="https://fonts.google.com/download?family=Merriweather%20Sans">
<link rel=stylesheet href="stylesheet.css">
<link rel="stylesheet" href="style.css">

</style>

<body>

    <!-- include header -->
    <%- include('include/_header') %>
        <!-- /include header -->

        <div class="container">
            <h1>Join the best gym of Delhi Now</h1>
            <!-- add form -->
            <%- include('include/_form') %>

        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="index.js"></script>
</body>

</html>